DATABASE_URL="postgresql://reviewer:npg_XwmE6T2iUHJe@ep-withered-wind-ah96qjdf-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="uNJkPRTa5j4Ipc1teF4HqXh15MfaVfrgVJx83bEAVLO"
